.start-screen {
    position: relative;
    overflow: hidden;
    background-color: #262626;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.cards {
    width: 100%;
}

.fire {
    position: absolute;
    bottom: 0;
    transform: translateY(130px);
    width: 100%;
    height: 100%;
}

.box {
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: 50vw;
    background: linear-gradient(#3c096ce6, #240046e6);
    border: 2px solid;
    border-radius: 20px;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 100px;

    h1 {
        color: #e9ecef;
        margin-top: 80px;
        font-size: 80px;
        text-shadow: 6px 6px 10px #6c757d;
        
    }
}

.btn-box {
    gap: 15px;
}